extends layout.pug 

block content 
    div.student-info-container
        .personal-info 
            h3 Personal Information 
            div 
                p Name:
                p #{ student.firstName }
            div 
                p Surname:
                p #{ student.lastName }
            div 
                p Middle Name:
                p #{ student.middleName }
            div 
                p Age:
                p #{ student.age }
        .contact-information 
            h3 Contact Information
            div 
                p Email address:
                p #{ student.emailAddress }
            div 
                p Phone number:
                p #{ student.phoneNumber }
        .student-information 
            h3 Student Information
            div 
                p Level:
                p #{ student.level }
            div 
                p Course title:
                p #{ student.courseTitle }

